.separador {
	margin-top: 20px;
	margin-bottom: 20px;
}

.separador-titulo {
	margin-bottom: 25px;
	color: #600080;
}

body.xsl {
	background-image: url(../img/xslbg2.jpg);
	background-size: 100%;
	background-attachment: fixed;
}